# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/app/generated/prisma
certs/server.key
certs/server.crt

# Uploads
/public/uploads/*
!/public/uploads/.gitkeep
prisma/dev.db
data/dev.db
.gitignore
data/dev.db-wal
data/dev.db-shm
dev.db
dev.db-shm
dev.db-wal
